.row {
  margin: 20px 0 20px 0;
}

.Weather .temperature {
  font-weight: 600;
  font-size: 40px;
}

.Weather .celsius {
  position: relative;
  top: -15px;
}

.realfeel {
  font-size: small;
}

.humidity {
  font-size: small;
}
